* {
    margin: 0;
    box-sizing: border-box;
    color: #333333;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: #eeeeee;
}

.header {
    width: 65vw;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    z-index: 2;
}

h1 {
    font-size:1.9em;
}

button {
    border: none;
    padding: 10px 25px;
    font-size: 1.05em;
    color: #ffffff;
    margin-top: 3vh;
    cursor: pointer;
    margin-left: 10px;
}

.one {
    background: #2ed3f9;
}

.one:hover {
    background: #47ddff;
}

.two {
    background: #ba4bff;
}

.two:hover {
    background: #c362ff;
}

.three {
    background: #453c72;
}

.three:hover {
    background: #524494;
}