.header {
    width: 65vw;
    max-width: 980px;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 3vh;
    justify-content: space-between;
    z-index: 1;
    border-radius: 10px;
    padding: 10px 35px;
}

.header::after {
    content: "";
    background: #ffffff;
    box-shadow: 0 8px 32px 0 #282f3f77;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    border-radius: 10px;
    opacity: .39;
    z-index: -1;
}

h1 {
    font-size:1.5em;
}

.nav {
    display: flex;
    align-items: center;
}

a {
    margin-left: 25px;
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #ad44da;
    text-decoration: underline;
}

.link {
    font-size: 2.1em;
    text-shadow: 3px 3px 21px #ffffff;
}

.link-mobile {
    font-size: 2.8em;
    letter-spacing: 1px;
    margin: 5vh 0;
}

.link-mobile-source {
    position: absolute;
    bottom: 11vh;
    margin: 0;
    font-size: 1.3em;
}

.nav-button {
    background: none;
    font-size: 2.1em;
    position: absolute;
    right: 0px;
    margin: 0;
    height: 60px;
    width: 60px;
    padding: 0;
    padding-bottom: 6px;
    color: #333333;
    display: none;
}

.nav-mobile {
    display: none;
    width: 100vw;
    height: 100vh;
    padding-bottom: 30px;
    background: #fcea20ee;
    position: absolute;
    left: -5vw;
    top: -3vh;
}

@media all and (max-width: 1150px) {
    .header {
        width: 90%;
        padding: 10px 20px;
    }
    
    h1 {
        font-size: 1.35em;
    }
}

@media all and (max-width: 780px) {

    .header {
        width: 90%;
        padding: 10px 20px;
    }

    .header,
    .header::after {
        height: 60px;
    }

    h1 {
        font-size: 1.1em;
    }

    .nav {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .nav-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}