.top {
    width: 100%;
    min-height: 39vh;
    background: #eeeeee url(./images/tenerife-trail.jpg);
    background-position: center;
    background-size: cover;
}

.about-the-project {
    width: 60vw;
    max-width: 980px;
    height: max-content;
    padding: 15px;
}

.trails {
    width: 60vw;
    max-width: 980px;
    height: max-content;
    padding: 15px;
}

.trail {
    border-top: #cccccc 1px solid;
    margin-bottom: 25px;
    height: max-content;
    padding-top: 10px;
    margin-bottom: 60px;
}

h2 {
    font-size: 3.1em;
    font-weight: 300;
    margin-bottom: 35px;
    margin-top: 35px;
    line-height: 1.5;
}

h3 {
    margin: 20px auto;
    font-size: 2.35em;
    font-weight: 300;
}

p {
    margin-bottom: 20px;
    font-size: 1.1em;
}

em {
    font-size: 1.1rem;
    font-weight: 700;
    font-style: normal;
}

@media all and (max-width: 780px) {

    .about-the-project {
        width: 90%;
        /* background: #d27b7b; */
    }

    .trails {
        width: 90%;
    }
}